

<nav class="navbar navbar-default ">
  <div class="container-fluid">
   
    <div class="navbar-header  ">
      

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-inverse  navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://austintexas.gov/opendata">About Open Data</a></li>
            <li><a href="http://austintexas.gov/page/open-data-plans">Open Data Plans</a></li>
            <li><a href="https://data.austintexas.gov/browse">Browse all datasets</a></li>
            <li><a href="https://data.austintexas.gov/nominate">Dataset Suggestions</a> </li>
            <li> <a href="https://data.austintexas.gov/analytics">Site Analytics</a> </li>
          </ul>
        </li>

        
        <li><a href="http://austintexas.gov/page/open-data-reports" >Reports</a></li>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="http://austintexas.gov/page/open-data-help">Get Started</a> </li>
            <li> <a href="https://support.socrata.com/hc/en-us">Socrata Support</a> </li>
            <li> <a href="https://dev.socrata.com">Help for Developers</a>
 </li>
             </ul>
        </li>


<li><a href="https://data.austintexas.gov/" >AustinTexas.gov</a></li>

<li><a href="https://www.austintexas.gov/coa-open-data-licensing" >Terms of Use</a></li>

<li><a href="https://austintexas.gov/austingo2.0" >Blog</a></li>
        
      </ul>

      
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>