

<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">

   
    <div class="navbar-header">
 
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 

<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button>

    
    <div class="navbar-collapse collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">

<li><a href="https://cityofaustin.github.io/PerformanceATX/" >Home</a></li>


<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://austintexas.gov/opendata">About Open Data</a></li>
            <li><a href="http://austintexas.gov/page/open-data-plans">Open Data Plans</a></li>
            <li><a href="https://data.austintexas.gov/browse">Browse all datasets</a></li>
            <li><a href="https://data.austintexas.gov/nominate">Dataset Suggestions</a> </li>
            <li> <a href="https://data.austintexas.gov/analytics">Site Analytics</a> </li>
          </ul>
        </li>

        
        <li><a href="https://www.austintexas.gov/financeonline/finance/financial_docs.cfm?ws=1&pg=6" >Reports</a></li>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="http://austintexas.gov/page/open-data-help">Get Started</a> </li>
            <li> <a href="https://support.socrata.com/hc/en-us">Socrata Support</a> </li>
            <li> <a href="https://dev.socrata.com">Help for Developers</a>
 </li>
             </ul>
        </li>


<li><a href="https://data.austintexas.gov/">Open Data Portal</a></li>

<li><a href="https://austintexas.gov/austingo2.0" >Blog</a></li>
        
      </ul>

      
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
