<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body>

{% include headertitle.html %}
{% include siteheader.html %}

    <div class="jumbotron">
        <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

<div class="panel panel-primary panel-transparent">
  <div class="panel-heading"> 

          <h2> {{page.title}} </h2>
          <p> Look at all of our dashboards and performance metrics</p>
        </div> 


<div class="col-sm-1"></div>
      
      </div>
    </div>
</div></div> </div>


    <div class="container">
    <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
              <a href='https://performance.austintexas.gov/stories/s/mfnw-2iaf' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
                <h4>Performance ATX 2015</h4>
                <i  class="fa button-icon fa-line-chart"data-toggle="tooltip" data-placement="right" title="Performance ATX 2015"></i>
              </div>
            </a>

            <a href='https://data.austintexas.gov/stories/s/2016_Performance_ATX_landing_page/rc68-wnnp/' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
 <div class="ribbon-wrapper-red">
                        <div class="ribbon-red">New</div>
                    </div>
                <h4>Performance ATX 2016</h4>
                <i  class="fa button-icon fa-bar-chart"data-toggle="tooltip" data-placement="right" title="Performance ATX 2016"></i>

              </div>

            </a>

<a href='https://www.austintexas.gov/financeonline/finance/financial_docs.cfm?ws=1&pg=6' target="_blank">
          <div class="col-sm-3 homepage-button homepage-button-row-1">
            <h4>Performance Reports</h4>
<i  class="fa button-icon fa-table"data-toggle="tooltip" data-placement="right" title="Open Government Austin"></i>
          </div>
        </a>



                               <a href='https://austinenergy.com/wps/wcm/connect/b1311ac1-28a3-431d-81ab-59eecd784a4c/KPIMAR%C2%ADJan17web.pdf?MOD=AJPERES&March/January%20KPI%20Dashboard' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
 
                <h4>Austin Energy Dashboard</h4>
                <i  class="fa button-icon fa-pie-chart"data-toggle="tooltip" data-placement="right" title="Austin Energy Dashboard"></i>
              </div>
            </a>


            <a href='http://austintexas.gov/page/sustainability-performance-tracking' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
 <div class="ribbon-wrapper-red">
                        <div class="ribbon-red">Featured</div>
                    </div>
                <h4>Sustainability Dashboard</h4>
                <i  class="fa button-icon fa-dashboard"data-toggle="tooltip" data-placement="right" title="Sustainability Dashboard"></i>
              </div>
            </a>

            <a href='http://austintexas.gov/department/performance-indicators' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1"> <h4>EMS Performance Indicators</h4>
                <i  class="fa button-icon fa-ambulance"data-toggle="tooltip" data-placement="right" title="EMS Performance Indicators"></i> </div>              
            </a>


          
        <a href='http://transportation.austintexas.io/' target='_blank'>
          <div class="col-sm-3 homepage-button homepage-button-row-1"><div class="ribbon-wrapper-red">
                        <div class="ribbon-red">Featured</div>
                    </div>
            <h4>Transportation Dashboard</h4>
            <i  class="fa button-icon fa-database"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
          </div>
        </a>


        <a href='https://www.surveymonkey.com/r/FDN5M63' target='_blank'>
          <div class="col-sm-3 homepage-button homepage-button-row-1">
            <h4>Request a dashboard</h4>
            <i  class="fa button-icon fa-link"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
          </div>
        </a>
      
 <div class="col-sm-1"></div>
    

    <div class="row">
      <div class="col-sm-3"></div>
    </div>
        

    
        <div class="row">
        <div class="col-sm-3 text-left">

<a href='http://www.austintexas.gov/page/city-council-open-government' target="_blank">
<div class="col-sm-12 homepage-button homepage-button-image"></div></a>
<h3>Open Government</h3>
<p>This portal provides users with open information about Austin City Council, including Council filings, campaign finance filings and more.</p>
        </div>

        <div class="col-sm-3 text-left"> 
 <a href='https://data.austintexas.gov/' target="_blank">
<div class="col-sm-12 homepage-button homepage-button-row2"></div></a><h3>Open Data Portal</h3>
<p>This portal provides easy access to open data and information about your city government.</p></div>


        <div class="col-sm-3 text-left">
   <a href='https://www.austintexas.gov/financeonline/finance/index.cfm' target="_blank">
          <div class="col-sm-12 homepage-button homepage-button-row3">
          </div>
        </a>
<h3>Austin Finance Online</h3>
<p>Austin Finance Online is an award winning tool that allows you to access city financial and purchasing data online.</p>
        </div>
    </div>



<div class="col-sm-1"></div>
      
      </div>
    </div>


   




      </div>
      


  {% include footer.html %}




<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>

    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}
    
  </body>
</html>
