<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body>

{% include headertitle.html %}
{% include siteheader.html %}

    <div class="jumbotron">
        <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

<div class="panel panel-primary panel-transparent">
  <div class="panel-heading"> 

          <h2> {{page.title}} </h2>
<p>Austin is your city. Track how your city government is performing on this open hub.</p>
        </div> 


<div class="col-sm-1"></div>
      
      </div>
    </div>
</div></div> </div>


    <div class="container">
    <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
              

            <a href='https://data.austintexas.gov/stories/s/2016_Performance_ATX_landing_page/rc68-wnnp/' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
 <div class="ribbon-wrapper-red">
                        <div class="ribbon-red">New</div>
                    </div>
                <h4>Performance ATX 2016</h4>
                <i  class="fa button-icon fa-bar-chart"data-toggle="tooltip" data-placement="right" title="Performance ATX 2016"></i>

              </div>

            </a>

 <a href='https://data.austintexas.gov/stories/s/Office-of-Sustainability-Dashboard/5t5d-xrry' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
 <div class="ribbon-wrapper-red">
                        <div class="ribbon-red">Featured</div>
                    </div>
                <h4>Sustainability Dashboard</h4>
                <i  class="fa button-icon fa fa-leaf"data-toggle="tooltip" data-placement="right" title="Sustainability Dashboard"></i>
              </div>
            </a>

 <a href='http://transportation.austintexas.io/' target='_blank'>
          <div class="col-sm-3 homepage-button homepage-button-row-1"><div class="ribbon-wrapper-red">
                        <div class="ribbon-red">Featured</div>
                    </div>
            <h4>Transportation Dashboard</h4>
            <i  class="fa button-icon fa fa-car"data-toggle="tooltip" data-placement="right" title="Transportation Dashboard"></i>
          </div>
        </a>
      
       <a href='http://austintexas.gov/sites/default/files/files/YIR_2016_web-cover.pdf' target='_blank'>
          <div class="col-sm-3 homepage-button homepage-button-row-1"><div class="ribbon-wrapper-red">
                        <div class="ribbon-red">Featured</div>
                    </div>
            <h4>Year in Review</h4>
            <i  class="fa button-icon fa-star"data-toggle="tooltip" data-placement="right" title="2016 Year in Review"></i>
          </div>
        </a>

<a href='https://performance.austintexas.gov/stories/s/mfnw-2iaf' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
                <h4>Performance ATX 2015</h4>
                <i  class="fa button-icon fa-line-chart"data-toggle="tooltip" data-placement="right" title="Performance ATX 2015"></i>
              </div>
            </a>


<a href='https://www.austintexas.gov/financeonline/finance/financial_docs.cfm?ws=1&pg=6' target="_blank">
          <div class="col-sm-3 homepage-button homepage-button-row-1">
            <h4>Performance Reports</h4>
<i  class="fa button-icon fa-table"data-toggle="tooltip" data-placement="right" title="Performance Reports"></i>
          </div>
        </a>


                               <a href='http://austinenergy.com/wps/portal/ae/about/reports-and-data-library/corporate-reports-and-data-library/!ut/p/a1/jZBPT8JAEMU_C4c9Ljss_qneSjW1IlZiLLUXM5Sl3aTsbqaLBj-9bbwYAsKcZjK_9ybzRCFyURj81BV6bQ02_VxcfYAM5EMEMomvZQBhHE2ml9nz6OV11AHvf4H0Pr2DJEuzMJ1GEEfjM_VHKoRT-sczDkiaRbNKFA59zbVZW5GXlpwl9IqT6hrfcjQrvkKPvNFLQtr1wtAsx0EnJLVWpGi4pS6R2nt3y4ABbluvjTKKqt2wtBsGX65l0Nth060Vg1YhlfUhq9q2XuT7FmIhiv8emsPFPnAg8V_geKRu85Z_P6lF4G8SHQ4GP_JdMII!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1">
 
                <h4>Austin Energy Reports</h4>
                <i  class="fa button-icon fa-pie-chart"data-toggle="tooltip" data-placement="right" title="Austin Energy Reports"></i>
              </div>
            </a>


           

            <a href='http://austintexas.gov/department/performance-indicators' target='_blank'>
              <div class="col-sm-3 homepage-button homepage-button-row-1"> <h4>EMS Performance Indicators</h4>
                <i  class="fa button-icon fa-ambulance"data-toggle="tooltip" data-placement="right" title="EMS Performance Indicators"></i> </div>              
            </a>


          
       


        <a href='https://www.surveymonkey.com/r/FDN5M63' target='_blank'>
          <div class="col-sm-3 homepage-button homepage-button-row-dashboard">
            <h4>Request a Dashboard</h4>
            <i  class="fa button-icon fa-lightbulb-o"data-toggle="tooltip" data-placement="right" title="Share your dashboard ideas with us!"></i>
          </div>
        </a>
      
 <div class="col-sm-1"></div>
    
    <div class="row">
      <div class="col-sm-3"></div>
    </div>
        
<p></p>
    
        <div class="row "> 

       
<a href='https://austinstrategicplan.bloomfire.com/?feed=recent' target="_blank">
<div class="col-sm-3 col-sm-offset-0 text-left" style= "outline: 1px solid #E5E4E2">
<div class="col-sm-12 homepage-button homepage-button-image"></div></a>
<h3>Strategic Plan</h3>
<p>Where is Austin going in the next 3 to 5 years? Follow the City's Strategic Plan.</p>
        </div>

        
 <a href='https://data.austintexas.gov/' target="_blank">
<div class="col-sm-3 col-sm-offset-test text-left" style="outline: 1px solid #E5E4E2">
<div class="col-sm-12 homepage-button homepage-button-row2"></div></a><h3>Open Data Portal</h3>
<p>Easily access open data to research specific topics, develop apps, and more.</p></div>


        <div class="col-sm-3 col-sm-offset-test text-left" style="outline: 1px solid #E5E4E2">
   <a href='https://www.austintexas.gov/financeonline/finance/index.cfm' target="_blank">
          <div class="col-sm-12 homepage-button homepage-button-row3">
          </div>
        </a>
<h3>Austin Finance Online</h3>
<p>Browse City financial and purchasing data with this award-winning tool.</p>
        </div>
    </div>



<div class="col-sm-1"></div>
      
      </div>
    </div>


   



      </div>
      


  {% include footer.html %}




<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>

    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}
    
  </body>
</html>
